.pack_propulsow {
    /*display: none!important;*/ 
    display: block!important;
    width: 100%;
    padding: 0rem 0rem 1rem;
}
.pp_div{
 	width: 98%;
  	display: block;
  	margin: 2rem auto;
  	text-align: center;
  	font-family: 'Share Tech', sans-serif;
}
.pp_titulo{
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
    font-family: var(--font-1);
}

.pp_elemento{
    display: inline-block;
     width: 100%; 
     background: #fff;
}

.pp_operador-01{
   display: inline-block;
   vertical-align: top;
   margin-top: 12%;
   font-size: 25px;
   border: 2px solid #aaa;
   color: #aaa;
   padding: 8px 12px;
   border-radius: 25px;
   font-weight: 600;
   background: #fff;
   z-index: 3;
   position: relative;
}

.pp_operador{
   display: inline-block;
   vertical-align: top;
   margin-top: 12%;
   font-size: 25px;
   border: 2px solid #aaa;
   color: #aaa;
   padding: 9px 13px;
   border-radius: 25px;
   font-weight: 600;
   background: #fff;
   z-index: 3;
   position: relative;
}

.pp_operador:nth-child(3n) {
     display: inline-block;
   vertical-align: top;
   margin-top: 12%;
   font-size: 26px;
   border: 2px solid #bbb;
   color: #fff;
   padding: 1px 8px;
   border-radius: 8px;
   background: #bbb;
}

.pp_item_imagen {
 position: relative;
}

.pp_item_imagen img{
    max-width: 85%; 
     padding: 20px 15px;
     height: 280px;
     animation: fadein 1.5s;
}

.pp_item_primero {
   display: inline-block;
   width: 23%;
   /* margin-top: 3.25%; */
   margin-right: -10px;
   border: 1px solid #ddd;
   border-radius: 15px;
   padding-top: 3.5rem;
}

.pp_item_segundo{
     display: inline-block;
   width: 23%;
   vertical-align: top;
   margin: 0px -10px;
   opacity: 1;
     border: 1px solid #ddd;
   border-radius: 15px;
     border: 1px solid #ddd;
   border-radius: 15px;
}

.pp_item_tercero{
   display: inline-block;
   width: 23%;
   vertical-align: top;
   margin: 0px 10px 0px -10px;
   opacity: 1;
   border: 1px solid #ddd;
   border-radius: 15px;
}	

.pp_total {
   display: inline-block;
   width: 20%;
   vertical-align: top;
   margin-top: 6%;
   margin-left: 15px;
   /* box-shadow: 0px 0px 25px -2px #ccc; */
   border-radius: 15px;
   padding: 10px;
   border: 1px solid #ddd;
   background: #eee;
}

.pp_item_desactivado {
    opacity: 0.6!important; 
}

.pp_item_desactivado .pp_boton_eliminar{
    opacity: 1!important; 
}